@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: lightgray;
}

/* CABEÇALHO */
header {
    background-color: rgb(148, 148, 148);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

/* MENU */

/* ìcone do menu */
span#burguer {
  background-color: rgb(48, 48, 48);
  color: white;
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: gray;
}

/* TEXTO */
main {
    width: 90vw;
    background-color: white;
    /* Centralizar */
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
} 

article > p {
    text-align: justify;
    /* Coloca um espaço embaixo de cada paragrafo */
    margin-bottom: 10px;
    /* Coloca um espaço no inicio de cada paragrafo */
    text-indent: 20px;
}


